// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Lato', sans-serif;
}


.width{
  width: 100%;
}

.title-bar{
  background-color: #004D40;
  padding:15px 0px;
  width: 100%;
  color: white;
  font-weight: 100;
  text-align: center

}
.spacer{
  height: 50px;
  z-index: -1;
}
.about-content{
  color: black;
  padding: 50px;
}
.fullscreen{
  height: 100%;
}

.nav-bar{

  position: fixed;
  z-index: 1;
  background-color: #004D40;
  padding:15px 0px;
  width: 100%;
  color: white;
  font-weight: 100;
  text-align: center;
  a{
    text-decoration: none;
    color: white !important;
    padding: 15px;
    vertical-align: middle;
  }
}

.section{
  position: relative;
  overflow: hidden;
}

.section-content{
  text-align: center;
}

.scrolling-images{
  margin: auto;
  height:800px;
  }


// .max-width{
//   max-width: 900px;
//   margin: auto;
// }

.location{
  background-color: #4DB6AC;
  padding-top: 10px;
  color: white;

}

#franceoutline{
  padding-top: 50px;
}

.underline{
  width: 50%;
  margin-top: 5px;
  background-color: black;
  height: 2px;
  color: black;
  border: none;
}

.background-repeat{
  background:repeating-linear-gradient(
  rgba(235, 235, 235, .70),
  rgba(235, 235, 235, .70));
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.galler-section{
  position: relative;

}
.gallery {
  width: 100%;
  margin: 0 auto;
  padding: 50px 10px;
  // background: #fff;
  // box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 190px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
  border-radius: 5px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);


}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
  -webkit-filter: none;
  filter: none;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.calendar-container{
  width: 60%;
  margin-left: 40px;
  margin-top: 40px;
  background-color: white;
}

.map-container{
  width: cover;
  height: 500px;
}

.activity-header{
  padding: 50px;
}

.activity-image{
  margin: 0px 30px;
  border-radius: 5px;
  width: 80%;
  display: inline-block;
}

.village-image{
  border-radius: 5px;
  height: 130px;
  margin: 30px 0px;
}

.link-style{
  link-style: none;
}

.property-header{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}



.contact-content{
  padding-bottom: 80px;
  background-color: #607D8B;
  color: white;
}

.my-info{
  float:left;
  font-size: 9px;
  color: white;
  margin-left: 10px;
  padding-top:15px;
}

.directions{
  padding: 20px;
  background-color: #4DB6AC;
  border-top: solid;
  border-color: black;
  border-width: 2px;
}

#contact
{
    display: none;
    background: #4DB6AC;
    color: white;
    padding: 10px;
}

#toggle{
  color: black !important;
  font-size: 25px;
}

.downarrows{
  float: left;
}

.button-style{
  color: #FFF!important;
  background-color: #33C3F0!important;
  border-color: #33C3F0!important;
}
